
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>Todo List</title>
  </head>
</html>
  <body>
    <div class="box" id="heading">
      <h1>{{listTitle}}</h1>
    </div>
    <div class="box">
      {% for i in listItems %}
      <div class="item">
        <input type="checkbox" />
        <p>{{i}}</p>
      </div>
      {% endfor %}
      <form action="#" method="POST" class="item">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
    </div>
  </body>
</html>
